
<div class="jumbotron center">
  <div class="container">
    <h1>BetweenFriends</h1>
    <p>This is an app that allows you to easily meet up with your friends.</p>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>Find Your Friends</h2>
      <p><a class="btn btn-default" href="#" role="button">Click Me &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Make New Friends</h2>
      <p><a class="btn btn-default" href="#" role="button">Click Me Too &raquo;</a></p>
   </div>
    <div class="col-md-4">
      <h2>Pick a Place</h2>
      <p><a class="btn btn-default" href="#" role="button">Click Yourself &raquo;</a></p>
    </div>
  </div>

  <hr>

  <footer>
    <p>&copy; Jassiem & Ari 2015</p>
  </footer>
</div> 